@use "global" as *;

.information__layout {
  padding: rem(80) 0 rem(75);
  margin-top: rem(65);
  @include mq("md") {
    margin-top: rem(164);
    padding-top: rem(100);
    padding-bottom: rem(76);
  }
}
