@use "global" as *;

.price__layout {
  margin-top: rem(75);
  padding-top: rem(47);
  padding-bottom: rem(76);
  @include mq("md") {
    margin-top: rem(138);
    padding-top: rem(60);
    padding-bottom: rem(95);
  }
}
