@use "global" as *;

.accordion {
  width: 100%;
}

.accordion__item:not(:first-child) {
  margin-top: rem(44);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.accordion__title {
  position: relative;
  font-size: rem(16);
  padding: rem(16);
  cursor: pointer;
  color: #fff;
  background-color: $green;
  @include mq("md") {
    font-size: rem(20);
    padding: rem(25) rem(40);
  }
}

.accordion__title::after,
.accordion__title::before {
  position: absolute;
  top: 50%;
  right: rem(16);
  display: block;
  width: rem(28);
  height: rem(1);
  content: "";
  background-color: $white;
  transition: 0.3s transform, 0.3s;
  @include mq("md") {
    width: rem(32);
    right: rem(40);
  }
}

.accordion__title::after {
  transform: rotate(90deg);
  opacity: 1;
}
.accordion__title::before {
  opacity: 1;
}

.accordion__title.is-open::after {
  opacity: 1;
  transform: rotate(0deg);
}

.accordion__title.is-open::before {
  opacity: 0;
}

.accordion__content {
  padding: rem(24) rem(16);
  border: rem(1) solid $green;
  @include mq("md") {
    padding: rem(40);
    margin-top: rem(16);
  }
}

.accordion__text {
  font-size: rem(16);
  line-height: 1.4;
}
