@use "global" as *;

.blog {
  position: relative;
  background: none;
  @include mq("md") {
    background-size: 100% rem(500);
    background-repeat: no-repeat;
    background-image: url(../images/common/blog-bg-img.jpg);
  }
}

.blog__inner {
  position: relative;
}

.blog__inner::after {
  display: none;
  content: "";
  background: url(../images/common/goldfish-logo.svg);
  width: rem(437);
  left: calc(50% - min(49vw, rem(620)));
  top: rem(-72);
  position: absolute;
  z-index: 10;
  background-size: contain;
  aspect-ratio: 437 / 201;
  filter: brightness(0) invert(1);
  transform: scale(-1, 1);
  @include mq("md") {
    display: block;
  }
}

.blog__list {
  margin-top: rem(27);
  @include mq("md") {
    margin: rem(80) 0 0;
  }
}

.blog__button {
  margin-top: rem(40);
  width: 100%;
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}
