@use "global" as *;

.blog-card {
  box-shadow: rem(2) rem(2) rem(10) 0 #00000040;
  padding: rem(16) rem(16) rem(22);
  background-color: $white;
  @include mq("md") {
    padding: rem(17) rem(16) rem(23);
  }
}

.blog-card__link:hover {
  opacity: 0.7;
}

.blog-card__img {
  width: 100%;
}

.blog-card__img img {
  aspect-ratio: 301 / 201;
}

.blog-card__top {
  border-bottom: rem(1) solid $green;
  margin-top: rem(20);
  @include mq("md") {
    text-align-last: left;
  }
}

.blog-card__time {
  font-size: rem(12);
  line-height: 1.83;
  color: $navy;
}

.blog-card__title {
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.5;
}

.blog-card__bottom {
  width: 100%;
  text-align: center;
  margin-top: rem(18);
}

.blog-card__text {
  display: inline-block;
  font-size: rem(16);
  line-height: 1.5;
  text-align: left;
}
