@use "global" as *;

.blog {
  position: relative;
  background: none;
  @include mq("md") {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/common/blog-bg-img.jpg");
    backgorund-position: 50% 30%;
  }
}

.blog__inner {
  position: relative;
}

.blog__icon-fish {
  transform: scale(-1, 1);
  filter: brightness(0) invert(1);
  position: absolute;
  top: rem(-72);
  left: rem(-56);
  width: rem(437);
  height: rem(201);
}
.blog-cards {
  margin-top: rem(27);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: rem(40);
  row-gap: rem(40);
  margin: 0 rem(6);
  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    margin-top: rem(80);
  }
}

.blog__button {
  margin-top: rem(40);
  width: 100%;
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}

.blog__icon {
  position: absolute;
  width: rem(437);
  height: rem(201);
  top: rem(20);
  left: rem(75);
}
