@use "global" as *;

article > * + * {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(40);
  }
}

.blog-detail {
}

.blog-detail__date {
  font-size: rem(14);
  line-height: 1.285;
}

.blog-detail__title {
  border-bottom: 1px solid $green;
  line-height: 1.448;
  margin-top: rem(8);
  font-weight: $medium;
  font-size: rem(24);
  padding-bottom: rem(3);
  @include mq("md") {
    font-size: rem(32);
    padding-bottom: 0;
  }
}

.blog-detail__img {
  aspect-ratio: 700 / 468;
  @include mq("md") {
    width: rem(700);
  }
}

.blog-detail__text {
  font-size: rem(16);
  line-height: 1.5;
}

.blog-detail__list {
}

.blog-detail__item {
  position: relative;
  font-size: rem(16);
  line-height: 1.5;
  text-indent: rem(31);
}

.blog-detail__item:not(:first-child) {
  margin-top: rem(4);
}

.blog-detail__item::before {
  content: "";
  background-image: url(../images/common/blog-detail-starfish.svg);
  position: absolute;
  aspect-ratio: 18 / 18;
  width: 18px;
  left: rem(5);
}

.blog-detail__pagination {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
