@use "global" as *;

.branch-campaign__item {
  position: relative;
  margin-top: rem(33);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.branch-campaign__item::after {
  display: none;
  content: "";
  background: url(../images/common/goldfish-branch-logo.svg);
  width: rem(301);
  left: calc(50% - min(49vw, rem(620)));
  top: rem(-148);
  position: absolute;
  z-index: -1;
  background-size: contain;
  aspect-ratio: 301 / 138;
  @include mq("md") {
    display: block;
  }
}

.branch-campaign__pagination {
  margin-top: rem(90);
  @include mq("md") {
    margin-top: rem(80);
  }
}
