@use "global" as *;

.branch-campaign__item {
  position: relative;
}

.branch-campaign__item::after {
  display: none;
  content: "";
  background: url(../images/common/goldfish-branch-logo.svg);
  width: rem(301);
  left: calc(50% - min(49vw, rem(620)));
  top: rem(-148);
  position: absolute;
  z-index: -1;
  background-size: contain;
  aspect-ratio: 301 / 138;
  @include mq("md") {
    display: block;
  }
}

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 40px 20px;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  background: rgba(0, 0, 0, 50%);
}

.branch-campaign__pagination {
  margin-top: rem(90);
  @include mq("md") {
    margin-top: rem(80);
  }
}
