@use "global" as *;

.branch-blog-list__sidebar {
  margin-top: rem(80);
  width: 100%;
  padding: 0 rem(22);
  @include mq("md") {
    margin-left: rem(80);
    max-width: 294px;
    margin-top: 0;
    padding: 0;
  }
}

.branch-blog-list__pagination {
  margin-top: rem(90);
  @include mq("md") {
    margin-top: rem(80);
  }
}
