@use "global" as *;

.branch-404 {
  background-color: $green;
}

.branch-404__inner {
  position: relative;
}

.branch-404__bread {
  position: absolute;
  top: rem(-76);
  color: $white;
  @include mq("md") {
    top: rem(-145);
  }
}

.branch-404__inner::after {
  content: "";
  position: absolute;
  background: url(../images/common/wheal.svg);
  background-size: cover;
  aspect-ratio: 698 / 698;
  width: rem(328);
  top: rem(-70);
  @include mq("md") {
    width: rem(698);
    top: rem(-125);
  }
}

.branch-404__wrapper {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.branch-404__title {
  font-size: rem(80);
  letter-spacing: 0.5em;
  line-height: 1.2;
  text-indent: 0.5em;
  color: $white;
  @include mq("md") {
    font-size: rem(160);
  }
}

.branch-404__text {
  color: $white;
  font-size: rem(16);
  text-align: center;
  @include mq("md") {
    margin: rem(24);
  }
}

.branch-404__button {
  margin-top: rem(39);
  @include mq("md") {
    margin-top: rem(55);
  }
}

.button {
}
