@use "global" as *;

.branch-about-us__bg {
  position: relative;
}

.branch-about-us__bg::after {
  display: none;
  content: "";
  background: url(../images/common/coral-anemone.svg);
  width: rem(194);
  height: rem(181);
  right: calc(50% - min(48vw, rem(635)));
  bottom: rem(-90);
  position: absolute;
  z-index: 10;
  background-size: contain;
  aspect-ratio: 194 / 181;
  @include mq("md") {
    display: block;
  }
}

.branch-about-us__gallery {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(120);
  }
}

.branch-about-us__gallery-content {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
