@use "global" as *;

.branch-terms__inner {
  position: relative;
}

.branch-terms__inner.inner {
  max-width: rem(600);

  @include mq(md) {
    max-width: calc(rem(800) + $padding-pc * 2);
  }
}
.branch-terms__inner::after {
  content: "";
  background: url(../images/common/goldfish-logo.svg);
  width: rem(120);
  left: calc(50% - min(46vw, rem(635)));
  top: rem(-25);
  position: absolute;
  z-index: -1;
  aspect-ratio: 120 / 55;
  background-size: contain;
  @include mq("md") {
    top: rem(-70);
    display: block;
    aspect-ratio: 301 / 138;
    width: rem(301);
    left: calc(50% - min(43vw, rem(635)));
  }
}

.branch-terms__title {
  font-size: rem(32);
  font-weight: $medium;
}

.branch-terms__wrapper {
  margin-top: rem(38);
}

.branch-terms__text:not(:first-child) {
  margin-top: rem(32);
}

.branch-terms__text {
  line-height: 2;
}

.branch-terms__list:nth-of-type(1) {
  margin-top: rem(32);
}

.branch-terms__list {
  list-style: decimal;
}

.branch-terms__item {
  line-height: 2;
}
