@use "global" as *;

.branch-404 {
  background-color: $green;
}

.branch-404__inner {
  position: relative;
}

.branch-404__wrapper {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.branch-404__title {
  font-size: rem(80);
  letter-spacing: 0.5em;
  line-height: 1.2;
  text-indent: 0.5em;
  color: $white;
  @include mq("md") {
    font-size: rem(160);
  }
}

.branch-404__text {
  color: $white;
  margin: rem(24);
  font-size: rem(16);
  text-align: center;
}

.branch-404__button {
  margin-top: rem(40);
}

.button {
}
