@use "global" as *;

.bread__list {
  display: flex;
  font-size: rem(14);
  margin-top: rem(7);
}

.bread__item:not(:first-child)::before {
  content: ">";
  padding: 0 rem(4);
}

.bread__item p {
  display: inline;
}
