@use "global" as *;

.button {
  text-align: center;
  display: inline-block;
  font-size: rem(14);
  font-weight: $bold;
  color: $white;
  width: rem(200);
  text-transform: uppercase;
  border-radius: 1px;
  line-height: 1;
  padding: rem(23) 0;
  background-color: $green;
  box-shadow: 9px 9px 0 -3px white, 9px 9px 0 0 $green;
  position: relative;
}

.button::after {
  position: absolute;
  content: url("../../assets/images/common/button-triangle.svg");
  right: rem(10);
  top: rem(19);
}
