@use "global" as *;

.campaign__inner {
  position: relative;
}

.campaign__button {
  width: 100%;
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.campaign__swiper {
  margin-right: calc(50% - 50vw);
  margin-top: rem(27);
  @include mq("md") {
    margin-top: rem(41);
  }
}
