@use "global" as *;

.campaign-card {
  box-shadow: rem(2) rem(2) rem(10) 0 #00000040;
}

.campaign-card__img {
  aspect-ratio: 280 / 188;
}

.campaign-card__body {
  padding: rem(16) rem(16) rem(24);
  @include mq("md") {
    padding: rem(24) rem(16) rem(40);
  }
}

.campaign-card__top {
  padding-bottom: rem(4);
  border-bottom: rem(1) solid $green;
  text-align: left;
}

.campaign-card__tag {
  font-size: rem(12);
  line-height: 1.83;
  color: $green;
  border: rem(1) solid $green;
  padding: rem(4) rem(12);
  @include mq("md") {
    padding: rem(6) rem(16);
  }
}

.campaign-card__title {
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.5;
  margin-top: rem(10);
  @include mq("md") {
    margin-top: rem(11);
  }
}

.campaign-card__bottom {
  width: 100%;
  text-align: center;
  padding: rem(8) 0 0;
  @include mq("md") {
    padding: rem(18) rem(20) 0;
  }
}

.campaign-card__text {
  display: inline-block;
  font-size: rem(14);
  line-height: 1.7414;
  @include mq("md") {
    font-size: rem(16);
  }
}

.campaign-card__price {
  display: flex;
  justify-content: center;
  margin-top: rem(8);
  align-items: baseline;
}

.campaign-card__price-normal {
  font-family: $Lato;
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1;
  @include mq("md") {
    font-size: rem(24);
  }
}

.campaign-card__price-normal span {
  text-decoration: line-through;
  text-decoration-color: red;
}

.campaign-card__price-discount {
  font-family: $Lato;
  font-size: rem(32);
  font-weight: $bold;
  line-height: rem(32);
  margin-left: rem(16);
  color: $green;
  @include mq("md") {
    font-size: rem(40);
    margin-left: rem(24);
  }
}
