@use "global" as *;

footer {
  background-color: $green;
}

.footer__list {
  display: flex;
  @include mq("md") {
    margin-top: 0;
    justify-content: center;
  }
}

.footer__top {
  @include mq("md") {
    display: flex;
    align-items: end;
  }
}

.footer__logo {
  width: rem(120);
  height: rem(45);
  @include mq("md") {
    width: rem(200);
    height: rem(75);
  }
}

.footer__sns {
  width: rem(24);
  height: rem(24);
  display: flex;
  margin-top: rem(12);
  @include mq("md") {
    margin-top: 0;
    width: rem(32);
    height: rem(32);
  }
}

.footer__sns img:nth-child(2) {
  margin-left: rem(14);
}

.footer__copy-right {
  font-family: $Gotu;
  font-size: rem(12);
  text-align: center;
  color: $white;
  margin-top: rem(27);
  padding: 0 rem(14);
  @include mq("md") {
    margin-top: rem(80);
    font-size: rem(14);
  }
}
