@use "global" as *;

.footer-nav.is-active {
  display: block;
}

.footer-nav__container {
  display: block;
  @include mq("md") {
    display: flex;
    margin-left: 0;
    width: 100%;
  }
}

.footer-nav__container:nth-child(2) {
  margin-left: rem(15);
  @include mq("md") {
    display: flex;
    margin-left: 0;
  }
}

.footer-nav__items {
  margin-top: rem(30);
  color: red;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  @include mq("md") {
    margin-top: 0;
  }
}

.footer-nav__items:nth-child(2) {
  margin-top: rem(17);
  @include mq("md") {
    margin-top: 0;
  }
}

.footer-nav__item {
  width: 100%;
  @include mq("md") {
    margin-top: rem(40);
  }
}

.footer-nav__item:not(:first-child) {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
  }
}

.footer-nav__item a {
  text-align: left;
  display: block;
  padding: rem(12) 0;
  color: $white;
  font-size: rem(16);
  line-height: 1.125;
  letter-spacing: 0.05em;
  position: relative;
}

.footer-nav__item a:hover {
  opacity: 0.7;
}

.footer-nav__item a:first-child {
  font-weight: $bold;
  text-indent: -rem(22);
  padding-left: rem(22);
}
.footer-nav__item a:first-child::before {
  position: absolute;
  left: 0;
  content: "";
  background-image: url("/assets/images/common/starfish.svg");
  display: inline-block;
  height: rem(18);
  width: rem(18);
  width: 1rem;
  vertical-align: middle;
  margin-right: rem(4);
}

.footer-nav__item a:not(:first-child) {
  text-indent: -rem(22);
  padding-left: rem(22);
}
