@use "global" as *;

.form {
  border-radius: 20px 0 0 0;
}

.form__item {
  color: $black;
  border-bottom: dotted; /*下線を点線にする*/
  border-color: $green;
  border-width: 1px;
  padding-bottom: rem(22);
  @include mq("md") {
    display: flex;
    padding-bottom: rem(40);
  }
}

.form__item dt {
  font-size: rem(16);
  line-height: 2;
  font-weight: $bold;
  @include mq("md") {
    width: 39%;
  }
}
.form__item dt span {
  color: $white;
  font-size: rem(12);
  margin-left: rem(10);
  background-color: #c94800;
  padding: rem(3) rem(15);
}

.form__item:not(:first-child) {
  margin-top: rem(20);
  @include mq("md") {
    margin-top: rem(33);
  }
}

.form__input {
  width: 100%;
  margin-top: rem(10);
  @include mq("md") {
    margin-top: 2px;
    margin-left: 39px;
  }
}

.form__input.form__input--checkbox {
  padding-left: rem(25);
}

.form__input.form__input--approval {
  @include mq("md") {
    margin-left: 0;
  }
}

.form__input select {
  width: 100%;
}

.form__label-text {
  font-size: 14px;
  width: rem(181);
  font-weight: $medium;
  line-height: 1.6;
  color: $black;
  @include mq("md") {
    font-size: 14px;
  }
}

input[type="radio"] {
  transform: scale(0.8);
  margin: 0;
}

// お問い合わせ内容

.form__text {
  text-align: left;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-weight: $medium;
  @include mq("md") {
    margin-top: 4px;
    font-size: 14px;
  }
}

.form__input-text,
.form__textarea {
  font-family: "Noto sans JP";
  padding: 10px;
  background-color: $white;
  border: 1px solid $green;
  font-size: 14px;
  width: 100%;
}

.form__input-text::placeholder,
.form__textarea::placeholder {
  color: #ddf0f1;
  opacity: 0.5;
}

.form__textarea {
  height: rem(200);
  resize: none;
  margin-top: rem(10);
  @include mq("md") {
    margin-top: 0;
    height: rem(196);
  }
}

.form__approval {
  margin-top: rem(25);
  text-align: left;
  max-width: rem(252);
  width: 100%;
  margin: 0 auto;
  @include mq("md") {
    text-align: center;
    max-width: 100%;
    margin-top: rem(80);
  }
}

.form__button {
  text-align: center;
  margin-top: rem(27);
  @include mq("md") {
    margin-top: rem(40);
  }
}

　input[type="checkbox"] {
  display: none;
}

.form__label {
  position: relative;
}

.form__label.form__label--approval {
  font-size: rem(14);
}

.form__label:after {
  position: absolute;
  content: "";
  display: block;
  left: rem(-23);
  top: rem(15);
  margin: -10px 0 0 -2px;
  width: 17px;
  height: 17px;
  border: 1px solid $green;
}

.form__label:hover:after {
  border-color: #0171bd;
}

.form__label:after,
.form__label:before {
  position: absolute;
  content: "";
  display: block;
}
/*チェックマークの追加*/
.form__label:before {
  left: rem(-20);
  top: rem(16);
  margin-top: -7px;
  width: rem(9);
  height: rem(5);
  border-bottom: rem(2) solid $red;
  border-left: rem(2) solid $red;
  transform: rotate(-45deg);
  opacity: 0;
}

input[type="checkbox"]:checked + .form__label:before {
  opacity: 1;
}

.form__input.form__input--select {
  position: relative;
}

.form__input.form__input--select::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: rem(12) rem(6) 0 rem(6);
  border-color: $green transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  pointer-events: none;
}

.form__select-box {
  width: 100%;
  padding: rem(10) rem(8);
  -webkit-appearance: none;
  appearance: none;
}

.select-box__item::-ms-expand {
  display: none;
}

::placeholder {
  color: red;
}
