@use "global" as *;

.gallery {
}

.gallery__wrapper {
  display: flex;
  flex-direction: column;
  @include mq("md") {
    flex-direction: row;
  }
  gap: rem(8);
}
.gallery__wrapper:nth-child(2) {
  margin-top: rem(8);
}

.gallery__large,
.gallery__small {
  cursor: pointer;
}

.gallery__small img:nth-child(2) {
  margin-top: rem(8);
}
