@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(13, 41, 54, 0.68);
  z-index: 1000;
  width: 100%; //画面幅いっぱい
  height: rem(80);
  transition: all 1s;
  @include mq("md") {
    height: rem(90);
  }
}

.header.is-active {
  background-color: $green;
}

.header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(15);
  @include mq("md") {
    padding: 0 rem(40);
  }
}

.header__name {
  height: inherit;
}

.header__name a {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__logo {
  width: rem(102);
  height: rem(38);
  z-index: 99999;
  @include mq("md") {
    width: rem(133);
    height: rem(50);
  }
}

.header__nav {
  height: inherit;
}

.header__list {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__item {
  height: inherit;
}

.header__item a {
  padding: 0 rem(18);
  position: relative;
}

.header__item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: rem(2);
  background: #0481a2;
  transition: all 1s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.header__link {
  height: inherit;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(18);
  line-height: 1.2;
}

.header__link.header__link--contact {
  height: inherit;
  background-color: $black;
  padding: 0 rem(24);
  transition: 0.3s background-color;
  color: $white;
  width: rem(109);
  transition: 0.3s;
  margin-left: rem(30);
  &:hover {
    transition: 0.3s;
  }
}
