@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(13, 41, 54, 0.68);
  z-index: 1000;
  width: 100%; //画面幅いっぱい
  height: rem(80);
  @include mq("md") {
    height: rem(90);
  }
}

.header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  @include mq("md") {
    padding: 0 40px;
  }
}

.header__name {
  height: inherit;
}

.header__name a {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__logo {
  width: rem(102);
  height: rem(38);
  z-index: 99999;
  @include mq("md") {
    width: rem(133);
    height: rem(50);
  }
}

.header__nav {
  height: inherit;
  padding-right: 49px;
}

.header__list {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__item {
  height: inherit;
}

.header__item a {
  padding: 0 18px;
}

.header__link {
  height: inherit;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.2;
}

.header__link.header__link--contact {
  height: inherit;
  background-color: $black;
  padding: 0 24px;
  transition: 0.3s background-color;
  color: $white;
  width: 109px;
  transition: 0.3s;
  margin-left: 30px;
  &:hover {
    transition: 0.3s;
  }
}
