@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(13, 41, 54, 0.68);
  z-index: 1000;
  width: 100%; //画面幅いっぱい
  height: rem(80);
  transition: all 1s;
  @include mq("md") {
    height: rem(90);
  }
}

.header.is-active {
  background-color: $green;
}

.header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(15);
  @include mq("md") {
    padding: 0 rem(40);
  }
}

.header__name {
  height: inherit;
}

.header__name a {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__logo {
  width: rem(102);
  height: rem(38);
  z-index: 99999;
  @include mq("md") {
    width: rem(133);
    height: rem(50);
  }
}
