@use "global" as *;

.pagination {
  display: flex;
  margin-top: rem(90);
  cursor: pointer;
  justify-content: center;
  width: 100%;
  @include mq("md") {
    margin-top: rem(80);
  }
}

.pagination__wrapper {
  display: flex;
  gap: rem(12);
  margin: 0 rem(40);
}

.pagination p {
  border: 1px solid $green;
  color: $green;
  background-color: $white;
  transition: all 0.5s;
}

.pagination__number {
  padding: rem(11) rem(15);
}

.pagination__number {
  padding: rem(10) rem(14);
}

.pagination__preview {
  padding: rem(10) rem(14);
}

.pagination__next {
  padding: rem(10) rem(14);
}

.pagination p:hover {
  background-color: $green;
  color: $white;
}
