@use "global" as *;

.pc-nav {
  height: inherit;
}

.pc-nav__inner {
  height: inherit;
}

.pc-nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  gap: rem(40);
}

.pc-nav__item,
.pc-nav__item a {
  height: inherit;
}

.pc-nav__item {
  display: flex;
  align-items: center;
  text-align: center;
  height: inherit;
}

.pc-nav__item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  text-align: center;
  position: relative;
}

.pc-nav__item.current a,
.pc-nav__item a:hover {
  color: $white;
}

.pc-nav__item a::after {
  content: "";
  position: absolute;
  bottom: rem(20);
  width: calc(100%);
  height: rem(2);
  background: $white;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.pc-nav__item.current a::after,
.pc-nav__item a:hover::after {
  transform: scale(1, 1);
}

.pc-nav__title {
  font-size: rem(18);
  line-height: 1;
  font-family: $Gotu;
}

.pc-nav__sub-title {
  font-size: rem(10);
  margin-top: rem(4);
  line-height: 1.5;
}
