@use "global" as *;

.voice {
}

.voice__inner {
  position: relative;
}

.voice__icon-fish {
  position: absolute;
  top: rem(-120);
  left: rem(-56);
  width: rem(301);
  height: rem(138);
}

.voice__icon-seahorse {
  position: absolute;
  bottom: rem(-71);
  right: rem(20);
  width: rem(71);
  height: rem(162);
}

.voice-card {
  box-shadow: rem(2) rem(2) rem(10) 0 #00000040;
  padding: rem(13) rem(16) rem(22);
  background-color: $white;
  @include mq("md") {
    padding: rem(24) rem(24) rem(24);
  }
}

.voice-card__top {
  padding-bottom: rem(4);
  display: flex;
  align-items: end;
  @include mq("md") {
    padding-bottom: 0;
    text-align-last: left;
  }
}

.voice-card__info {
  border-bottom: rem(1) solid $green;
  max-width: rem(149);
  width: 100%;
  @include mq("md") {
    max-width: 100%;
    width: 56.6%;
    margin-top: rem(24);
  }
}

.voice-card__age {
  font-size: rem(12);
  line-height: 1.5;
}

.voice-card__tag {
  display: inline-block;
  font-size: rem(12);
  padding: rem(4) rem(12);
  line-height: 1.5;
  color: $green;
  border: rem(1) solid $green;
  @include mq("md") {
    float: right;
  }
}

.voice-card__title {
  font-weight: 500;
  font-size: rem(16);
  line-height: 1.4481;
  margin-top: rem(4);
  @include mq("md") {
    font-size: rem(24);
    line-height: 1.4479;
    margin-top: rem(8);
  }
}

.voice-card__img {
  position: relative;
  width: 67.67%;
  margin-left: rem(13);
  @include mq("md") {
    width: 38.2%;
  }
}

.voice-card__img img {
  aspect-ratio: 151 / 117;
}

.voice-card__bottom {
  width: 100%;
  text-align: center;
  margin-top: rem(11);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.voice-card__text {
  display: inline-block;
  font-size: rem(16);
  line-height: 1.5;
  text-align: left;
}
